:root {
	--navbar-font-size: 16px;
	--navbar-font-color: #A7A7A7;
	--side-pane-width: 300px;
}

@font-face {
	font-family: "Montserrat Regular";
	src: local("Montserrat-Regular"), 
		url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat Bold";
	src: local("Montserrat-Bold"),
		url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

* {
	font-family: "Montserrat Regular";
	/* background: rgba(0, 0, 0, 0.6); */
}

.App {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}