.side-pane {
	width: var(--side-pane-width);
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 1);
}

#spotify-logo {
	width: 131px;
	height: 40px;
	margin: 24px 0 20px 24px;
}